.logoHeader{
  flex-grow: 1;
}

.gridMargin{
  margin-top: 50px;
}

.gridBooking{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourDesk{
  display: flex;
}

.titles{
  border-left: 2px solid #6785C1;
  padding-left: 8px;
  margin-left: 20px;
  color: #8E908F;
}


.button-container{
  display:grid;
  grid-template-rows:300px;
  grid-template-columns: 75px 75px 75px 75px;
  grid-template-rows:45px 53px 54px 54px 54px 54px 54px 33px ;
  
  }

  .desk{
  display:grid;
  grid-template-rows:300px;
  grid-area: 1 / 1 / 8 / 5 ;
 
  }
  .button-desk{
    display:grid;
    grid-template-areas: 
    "1 . 2 ."
    "main main . sidebar"
    "footer footer footer footer";
  }

.divAlert{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #c6190e;
}

